  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>

  <% if current_user.admin? %>
    <div class='col-auto'>
      <button type="submit" class="btn btn-dark"><%= link_to 'New User', new_user_path %></button>
    </div>

  <% end %>
