<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @company.companyname %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'View Other Rooms', companies_path %>
