  <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome To Happy Muffin!</h1>
          <p>Book meeting rooms with ease , create a FREE acccount within a minute, you will never knew what you did before having a Happy Muffin</p>
          <p><a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Register / Login &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>5 Rooms Free</h2>
            <p>Happy Muffin gives you 5 meeting rooms for free , ideal for a Medium Sized compaines to start using stright away</p>
            <p><a class="btn btn-secondary" href="/home/details" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Display</h2>
            <p>By using any make of tablet that supports wifi and Web browsing , you can easily have a room booking display mounted to the meeting room entrance.</p>
            <p><a class="btn btn-secondary" href="/home/displays" role="button">View Displays &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Clients</h2>
            <p>With a long list of happy muffin clients around the world , we strive to bring the best room booking system to our exisitng and new clients</p>
            <p><a class="btn btn-secondary" href="/home/clients" role="button">View Clients &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
