<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Room Id</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% bookings.each do |roombooking| %>
      <tr>
        <td><%= roombooking.room.roomname %></td>
        <td><%= roombooking.starttime %></td>
        <td><%= roombooking.endtime %></td>
        <td><%= link_to 'Show', roombooking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

