<div class="container">
  <div class="row">
    <div class="col-11">
    </div>
  <div class="col=1">
     <div class="panelclock" id="txt">10.25</div>
    </div>
     
  
  </div>
  

</div>


<div class="panelcontainer">

</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Roomname:</strong>
  <%= @room.roomname %>
</p>
