<style>
  .container-fluid {
  height: 100vh;
	}
</style>

<div class="container-fluid d-flex flex-column">
  <div class="row">
    <div class="col-10">
      <h1 class="display-2"> <%= @room.roomname %></h1>
    </div>
    <div class="col-2">
      <h1 class="display-5 float-right"><div id="panelClock"></div></h1>
    </div>
  </div>
  <div class="row my-auto">
    <div class="col-6">
	 
      <h1 class="display-4 text-primary"><div id="currentMeetingDesc"></div></h1>
      <h1 class="display-5 text-primary">Untill <div id="currentMeetingTime"></div></h1>
      
    </div>
    <div class="col-6">
      <h1 class="display-4"><div id="panelClock"></div></h1>
    </div>
  </div>
 <div style="padding: 0 0 40px;    box-sizing: unset;">
    <div id="calendar"></div>
  </div>
 
</div>

<script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('panelClock').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
  
startTime();
 
  
</script>

<script>
  var today = new Date();
  var h = today.getHours() + ":00:00";
	
	
  $('#calendar').fullCalendar({
    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
    events: '/rooms/<%= @room.id %>/bookings.json',
    height: "auto", 
    resources: '/rooms/<%= @room.id %>.json', 
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'timelineDay,timelineThreeDays,agendaWeek,month'
      },
      defaultView: 'timelineDay',
      views: {
        timelineThreeDays: {
          type: 'timeline',
          duration: { days: 3 }
        }
      },
      resourceLabelText: 'Rooms',
  minTime: h ,
  maxTime: "21:00:00"      
  });

function refreshPanel() {
  $.ajax({
    url:"/rooms/<%= @room.id %>/panel.json",  
	  dataType: "json",
    success:function(data) {
	desc = data.nextbooking.description;
      $('#currentMeetingTime').html(data.currentbooking.endtime); 
 	$('#currentMeetingDesc').html(data.currentbooking.description); 
		  
	 
    }
  });
}
	
 refreshPanel();
</script>
